@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  margin: 0;
  color: #f1f1f1;
}
body {
  display: flex;
  justify-content: center;
  background: #ffffff;
  color: #f1f1f1;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  flex-direction: column;
  width: 400px;
  height: 112px;
  border-radius: 6px;
}
#checkout {
  width: 100vw;
}
.checkoutFormInput {
  padding: 1rem;
  background-color: #f1f1f1;
  border-radius: 12px;
  transition: background 0.15s ease, border 0.15s ease, box-shadow 0.15s ease, color 0.15s ease;
  display: block;
  width: 292px;
  margin-top: 0.25rem;
  color: #30313d;
  -moz-appearance: none;
  appearance: none;
  border-style: none;
  box-shadow: none;
  filter: none;
  letter-spacing: inherit;
  outline-offset: 0;
  outline-width: 2px;
  outline: none;
  font-size: 1rem;
  border: transparent 2px solid;
}
.checkoutFormInputError {
  border: #DF1B41 2px solid;
}
.errorMessage {
  color: #DF1B41;
  font-size: 0.93rem;
  margin-top: 4px;
}
.checkoutFormInput:focus {
  box-shadow: 0 0 0 3px hsla(355, 76%, 36%, 25%) , 0 0 0 1px #a2162280;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #30313d;; /* Ensure text color is as expected */
}
.checkoutFormButton {
  padding: 1rem;
  background-color: #A31621;
  border-radius: 12px;
  transition: background 0.15s ease, border 0.15s ease, box-shadow 0.15s ease, color 0.15s ease;
  display: block;
  width: 100%;
  margin-top: 1rem;

  -moz-appearance: none;
  appearance: none;
  border-style: none;
  box-shadow: none;
  color: inherit;
  filter: none;
  letter-spacing: inherit;
  outline-offset: 0;
  outline-width: 2px;
}
.checkoutFormButton span {
  color: white;
}
.checkoutFormContainer {
  margin-bottom: 0.75rem;
}
.checkoutFormLabel {
  font-size: 0.93rem;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  color: #30313d;
  font-weight: 400;
  line-height: 1.15;
}

/* styles/globals.css */
/* styles/globals.css */
@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-10%, -10%);
  }
  20% {
    transform: translate(10%, -10%);
  }
  30% {
    transform: translate(-10%, 10%);
  }
  40% {
    transform: translate(10%, 10%);
  }
  50% {
    transform: translate(-5%, -5%);
  }
  60% {
    transform: translate(5%, -5%);
  }
  70% {
    transform: translate(-5%, 5%);
  }
  80% {
    transform: translate(5%, 5%);
  }
  90% {
    transform: translate(0, 0);
  }
}

.animated-background {
  background: linear-gradient(270deg, #000000, #ff6f00, #ffffff);
  background-size: 600% 600%;
  animation: backgroundAnimation 15s ease infinite;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.animated-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><filter id="grain"><feTurbulence type="fractalNoise" baseFrequency="0.8" result="noise"/><feColorMatrix type="saturate" values="0"/><feComponentTransfer><feFuncA type="linear" slope="0.4"/></feComponentTransfer><feComposite operator="in" in2="SourceGraphic" result="monoNoise"/><feBlend in="SourceGraphic" in2="monoNoise" mode="multiply"/></filter><rect width="100%" height="100%" filter="url(#grain)" /></svg>');
  animation: grain 8s steps(10) infinite;
}
.navbar {
  width: 100vw;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-family: "Alfa Slab One", serif;
  color: #E20000;
  font-size: 70px;
}
.DrawerFooter {
  display: flex;
  justify-content: space-between;
}
